<section class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4 aside-foot">
				<a href="#" class="logo"><img src="img/logo2.png" alt="wuff"></a>
				<div class="phone">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<a href="tel:+4917640206387">+49 (0)176 - 402 063 87</a>
				</div>
				<address>
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					Breitnerstraat 10<br>
					5611TV, Eindhoven
				</address>
				<div class="clearfix"></div>
			</div>
			<div class="col-md-9 col-sm-8">
				<form class="foot">
					<h5>Подписаться на рассылку</h5>
					<input type="text" class="form-control" id="email-foot" placeholder="Ваше email">
					<a href="#" class="butt-border-radius">Отправить</a>
				</form>
				<section class="animate-links">
					<nav class="link-effect-2" id="link-effect-2">
						<a href="#link-effect-2"><span data-hover="Новости">Новости</span></a>
						<a href="#link-effect-2"><span data-hover="Ищут дом">Ищут дом</span></a>
						<a href="#link-effect-2"><span data-hover="Проекты">Проекты</span></a>
						<a href="#link-effect-2"><span data-hover="Как помочь">Как помочь</span></a>
						<a href="#link-effect-2"><span data-hover="Форум">Форум</span></a>
						<a href="#link-effect-2"><span data-hover="О нас">О нас</span></a>
						<a href="#link-effect-2"><span data-hover="Отчеты">Отчеты</span></a>
						<a href="#link-effect-2"><span data-hover="Контакты">Контакты</span></a>
					</nav>
				</section>
				<div class="copyright">
					© Copyright 2017 | WUFF.
					<span>Дизайн Буяльская Татьяна</span>
				</div>
			</div>
		</div>
	</div>
</section>