<section class="header">
	<div class ="container">
		<div class="row">
			<div class="wrap side-slide">
			<header>
				<a href="#" class="logo"><img src="img/logo.png" alt="wuff"></a>
				<div class="bg-white-head">
					<div class="sth-butt">
					<div  class="sth-part"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
					<div class="sth-part part1">
						<a href="#"><i class="fa fa-bold" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
					</div>
					<div class="sth-part">
						<a href=""><i class="fa fa-envelope" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-star" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-question-circle" aria-hidden="true"></i></a>
						<a href=""><i class="fa fa-user" aria-hidden="true"></i></a>
					</div>
				</div>
					<nav class="menu head_top">
					<a href="#" class="opener"><span>Menu</span></a>
					<div class="drop">
						<ul class="link-effect-top" id="link-effect-top">
							<li><a href="link-effect-top"><span data-hover="Главная">Главная</span></a></li>
							<li><a href="link-effect-top"><span data-hover="О нас">О нас</span></a></li>
							<li><a href="link-effect-top"><span data-hover="Отчеты">Отчеты</span></a></li>
							<li><a href="link-effect-top"><span data-hover="Контакты">Контакты</span></a></li>
						</ul>
					</div>
						<div class="clearfix"></div>
				</nav>
					<div class="head_bottom">
					<nav class="menu">
					<div class="drop">
						<ul class="flex-container-around">
							<li class="flex-box"><a href="#">Новости</a>
							<li class="flex-box"><a href="#">Ищу дом</a>
							<li class="flex-box"><a href="#">Проекты</a>
							<li class="flex-box"><a href="#">Как помочь</a>
							<li class="flex-box"><a href="#">Форум</a>
						</ul>
					</div>
				</nav>
					<div class="line">
					<hr>
					</div>
					<a href="#" class="butt-border-radius">Нужна ваша<br> помощь</a>
				</div>
				</div>
			</header>
		</div>
		</div>
	</div>
</section>